#filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 46px;
}

.filter_items {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
}
.filter_items p {
  font-weight: 700;
  font-size: 17px;
  margin: 10px;
}

.filter_items:hover {
  background-color: #deebff;
  cursor: default;
}
.filter_icon {
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/*Info bar*/
#info_bar {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
#info_icon {
  background-color: white;
  border: 1px solid #d9d9d9;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: #0065fc;
  padding-top: 9px;
  padding-left: 8px;
}

#info_bar p {
  padding-left: 11px;
  padding-top: 2px;
}
