#footer_info {
  background-color: #f2f2f2;
  display: flex;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-top: 45px;
  margin: 60px 3% 0 3%;
}
.column_footer {
  flex: 1;
}

.column_footer h3 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
}

.column_footer p {
  padding-top: 12px;
}
