/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}
main {
  margin: auto;
  padding: 0 50px;
}
