/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wraper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}
