/*Logo et Navigateur*/

#header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-right: 77px;
}

#logo_booki {
  width: 61px;
  margin-right: auto;
  margin-left: 55px;
}

#shortcut {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
#shortcut a:hover {
  font-weight: 500;
  border-top: 2px solid #0065fc;
  color: #0065fc;
  cursor: default;
}

.menu_shortcut {
  display: flex;
  font-weight: 400;
  font-size: 16px;
}
#shortcut a {
  padding: 48px;
  border-top: 2px solid transparent;
}
