#Hebergement_populaire {
  display: flex;
  margin-top: 40px;
}

/*Hebergement*/

#hebergement {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  width: 70%;
}

#hebergement h2 {
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 700;
}

#hebergement_row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hotel_box {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 2px #f2f2f2da;
  width: 30%;
  position: relative;
  margin-bottom: 30px;
}

.hotel_box a {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid white;
  border-radius: 20px;
}

.picture_hebergement {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.info_hotel {
  font-size: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  margin-top: 132px;
}

.hotel_title {
  font-size: 16px;
  font-weight: 700;
  object-fit: fill;
  display: flex;
  flex-wrap: wrap;
}

.hotel_price {
  font-size: 14px;
  font-weight: 400;
  padding-top: 9px;
}

.first_star {
  color: #0065fc;
}
.blue_star {
  color: #0065fc;
}
.last_star {
  color: #f2f2f2;
}

#afficher_plus {
  padding-top: 10px;
  margin-left: 8px;
}

/*les plus populaires*/

#populaire {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px;
  margin-left: 40px;
}

#populaire h2 {
  font-size: 22px;
  font-weight: 700;
}
#pop_head {
  display: flex;
  justify-content: space-between;
}

#populaire_column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 10px;
  position: relative;
}

.pop {
  display: flex;
  position: relative;
  background-color: white;
  height: 144px;
  border-radius: 20px;
  margin-top: 26px;
  box-shadow: 1px 2px #f2f2f2da;
}

.pop a {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid #ffffff;
  border-radius: 20px;
}

.picture_populaire {
  width: 37%;
  object-fit: cover;
  height: 135px;
  border-radius: 20px 0px 0px 20px;
}

.info_pop {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  padding-right: 30px;
}

.pop_title {
  font-weight: 700;
  font-size: 16px;
  object-fit: fill;
  padding-top: 16px;
}

.pop_price {
  font-weight: 400;
  font-size: 14px;
}

.star_pop {
  display: flex;
  position: absolute;
  top: 125px;
}

.star_heb {
  padding-top: 9px;
  display: flex;
}
