

@media only screen and (min-width: 768px) {
  #search_mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #Hebergement_populaire {
    flex-direction: column;
  }
  #hebergement {
    width: 100%;
  }

  #populaire {
    width: 100%;
    margin-left: 0;
    margin-top: 53px;
  }
  #populaire_column {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-content: inherit;
    margin-top: 10px;
    position: static;
  }
  .hotel_box {
    width: 32%;
  }
  .info_hotel {
    padding-bottom: 0px;
    margin-top: 130px;
  }
  .hotel_price {
    padding-bottom: 9px;
  }

  .pop {
    width: 100%;
  }
  .act_presentation {
    max-height: 267px;
  }
  .hotel_title {
    padding-bottom: 9px;
  }
  .hotel_price {
    padding-bottom: 9px;
  }
  #activity_picture {
    height: 267px;
  }
  .activity_title {
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 21px;
    font-weight: 700;
    font-size: 16px;
  }
  .act_picture {
    height: 76%;
  }
  #footer_info {
    margin: 70px 3% 0 3%;
  }
}
@media only screen and (max-width: 768px) {
  /*main*/
  main {
    margin: 0;
    padding: 0;
  }
  /*header*/
  #header {
    align-items: inherit;
    flex-wrap: inherit;
    margin: auto;
    padding-right: 0px;
    flex-direction: column;
  }

  #logo_booki {
    margin-right: auto;
    margin-left: inherit;
    margin-top: 21px;
  }

  #shortcut a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: inherit;
  }

  #shortcut a {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 22px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  /*introduction title*/
  #search_intro h1 {
    margin-top: 22px;
  }
  #search_intro {
    margin-left: 3%;
  }
  /*search bar*/
  #search_bar {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 5px;
    padding-right: 5px;
  }
  #searchbox {
    min-width: 0;
  }

  #search_bar button {
    width: 49px;
  }
  #search_desktop {
    display: none;
  }
  .searchbox_flex {
    width: 100%;
  }

  /*filtres*/
  #filter {
    gap: 0px;
    margin-left: 3%;
  }

  .filter_items {
    align-items: inherit;
    flex-direction: row;
    width: 45%;
    height: 50px;
    flex-wrap: wrap;
    margin-bottom: 17px;
    margin-right: 14px;
  }
  .filter_items p {
    font-size: 13px;
  }
  #filter h2 {
    margin-bottom: 15px;
    margin-right: 300px;
  }
  #info_bar {
    margin-left: 3%;
    margin-right: 7%;
  }
  /*Hebergement & Populaire*/

  #Hebergement_populaire {
    flex-direction: column;
  }
  #hebergement {
    width: 100%;
    margin-top: 47px;
    background-color: white;
    padding-left: 20px;
  }
  #hebergement_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .hotel_box {
    box-shadow: 1px 2px 2px 2px #f2f2f2;
    width: 105%;
    margin-bottom: 30px;
  }

  #populaire {
    display: block;
    order: -1;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: inherit;
    margin: 0;
  }
  .pop {
    width: 100%;
  }
  #afficher_plus {
    display: none;
  }

  /*Activité*/

  #activity {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #activity h2 {
    margin-bottom: 0px;
    margin-right: 200px;
  }

  #activity_picture {
    height: 800px;
    flex-direction: column;
    gap: 24px;
  }

  .act_picture {
    height: 75%;
  }

  .act_presentation {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 320px;
    height: 320px;
  }

  .activity_title {
    padding-bottom: 1.5%;
  }

  /*Footer*/
  #footer_info {
    margin-top: 80px;
    flex-direction: column;
    padding-left: 30px;
    margin-left: 0%;
    margin-right: -2%;
    gap: 40px;
  }
}
