@media only screen and (min-width: 768px) {
  #search_mobile {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #Hebergement_populaire {
    display: block;
  }
  #hebergement {
    width: 100%;
  }
  #populaire {
    width: 100%;
    margin-left: 0;
    margin-top: 53px;
  }
  #populaire_column {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 3%;
    align-content: inherit;
    margin-top: 10px;
    position: static;
  }
  .pop {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /*header*/
  #header {
    display: flex;
    align-items: inherit;
    flex-wrap: no-wrap;
    margin: auto;
    padding-right: 0px;
    flex-direction: column;
  }

  #logo_booki {
    width: 61px;
    margin-right: auto;
    margin-left: inherit;
    margin-top: 21px;
  }

  #shortcut {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  #shortcut a:hover {
    font-weight: 500;
    border-bottom: 3px solid #0065fc;
    border-top: inherit;
    color: #0065fc;
    cursor: default;
  }

  .menu_shortcut {
    display: flex;
    font-weight: 400;
    font-size: 16px;
  }
  #shortcut a {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 22px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
