/*introduction title*/
#search_intro h1 {
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
}

#search_intro p {
  font-size: 16px;
  font-weight: 400;
}

/*search bar*/
#search_bar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.searchbox_flex {
  display: flex;
}
#position_icon {
  display: flex;
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 15px;
  padding-left: 18px;
}

#searchbox {
  height: 50px;
  border: 1px solid #f2f2f2;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

::placeholder {
  color: black;
}

#search_bar button {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  width: 132px;
  height: 49px;
  color: white;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  font-size: 18px;
  left: 357px;
  cursor: pointer;
}
